nav li {
    list-style-type: none;
    margin: 0;
    padding: 8px 12px;
    display: inline-block;
}

.hidden {
    display:none;
}

table.data-points {
    border-collapse: collapse;
    margin: 24px;
}

table.data-points th ,
table.data-points td {
    padding: 4px 12px;
    text-align: right;
}

table.data-points td:nth-child(1) {
    font-weight: bold;
}

table.data-points tr:nth-child(odd) {
    background: #ccc;
}

table.data-points tr:first-child {
    background: transparent;
}

table.data-points th {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #666;
}

.products-info article {
    border: 1px solid #666;
    border-radius: 8px;
    padding: 12px;
    margin: 12px;
    max-width: 260px;
    float: left;
}

.field-box {
    border: 1px solid grey;
    margin: 24px 4px;
    padding: 0 24px 24px 24px;
}

.field-box .label {
    background: white;
    position: relative;
    top: -8px;
    left: -8px;
    padding: 0 8px;
}

label.edit-num {
    display: block;
}

label.edit-num input {
    width: 32px;
    display: inline-block;
    margin-left: 6px;
}